.grp-logo {
  width: 20%;
  cursor: pointer;
}

.grp-header {
  padding: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px rgb(255, 0, 0) solid;
}
