.newGif {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
  }
  .newGif_input {
    padding: 10px;
    margin-bottom: 50px;
  }
  .titre_txt {
    text-align: left;
    margin-left: 5px;
    display: block;
  }
  .message {
    padding-bottom: 200px;
    padding: 10px;
    margin-bottom: 50px;
  }
  
  .newgif_title {
    margin: 20px 0px 0px 0px;
    text-align: center;
    font-family: Teko;
    font-size: 3em;
    margin-bottom: 20px;
  }
  
  .btn_GifIN {
    float: none;
    margin: auto;
    padding: 15px 25px 15px 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
  
    cursor: pointer;
  }
  
  .btn_GifImg { 
      padding: 2px;
      margin-top: 5px;
      
  }
  .message_txt {
    display: flex;
      justify-content: center;
  }