.newPost {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
}
.newpost_input {
  padding: 10px;
  margin-bottom: 50px;
}
.titre_txt,
.message_txt {
  text-align: left;
  margin-left: 5px;
  display: block;
}
.message {
  padding-bottom: 200px;
  padding: 10px;
  margin-bottom: 50px;
}

.newpost_title {
  margin: 20px 0px 0px 0px;
  text-align: center;
  font-family: Teko;
  font-size: 3em;
  margin-bottom: 20px;
}

.btn_newpostIN {
  float: none;
  margin: auto;
  padding: 15px 25px 15px 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;

  cursor: pointer;
}

.uploadIMG {
  margin-top: 20px;
}

.uploadLABEL {
  margin: auto;
  display: block;
  font-family: Teko;
  font-size: 20px;
  input {
    margin-top: 0px;
  }
  p {
    margin-bottom: 5px;
  }
}
