.signup_title {
  text-align: center;
  margin-top: 150px;
  font-family: Teko;
  font-size: 3em;
  margin-bottom: 20px;
}

.signup_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin: auto;
  background-color: #fd2d01;
  height: 300px;
  border: black solid 1px;
  label {
    flex-direction: column;
    display: flex;
    text-align: center;
    width: 80%;
    input {
      height: 30px;
      font-size: 20px;
      font-family: "Dosis-semibold", sans-serif;
      &:focus {
        outline: none;
      }
    }
  }
}

.signup_input {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  p {
    margin-top: 0;
    margin-bottom: 5px;
    font-family: "Dosis-extralight", sans-serif;
    font-size: 30px;
    color: white;
    text-shadow: 0px 4px 3px rgb(0 0 0 / 40%), 0px 8px 13px rgb(0 0 0 / 10%),
      0px 18px 23px rgb(0 0 0 / 10%);
  }
}

.signup_submit {
  margin-top: -10px;
  background-color: black;
  border-radius: 28px;
  border: 1px solid #c0392b;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  &:hover {
    background-color: white;
    color: black;
  }
  &:active {
    position: relative;
    top: 1px;
  }
}
