h2 {
  text-align: center;
  margin-top: 150px;
  font-family: Teko;
  font-size: 3em;
  margin-bottom: 20px;
}

.signup_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin: auto;
  background-color: #fd2d01;
  height: 300px;
  border: black solid 1px;
  label {
    flex-direction: column;
    display: flex;
    text-align: center;
    width: 80%;
  }
}

.signup_input {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.signup_submit {
  margin-top: 10px;
}
