.one_Spost {
  display: flex;
  width: 70%;
  margin: auto;
  margin-top: 50px;
  flex-direction: column;
  border: solid 2px black;
  padding: 15px;

  height: 170px;
  /* &:nth-last-child(n) {
      margin-bottom: 20px;
    }*/
}

.infos_Spost {
  display: flex;
  justify-content: space-between;
}
.titre_Spost {
  margin-left: 20px;
}

.username_Spost {
  margin-right: 20px;
}
.message_Spost {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.newbtn_Spost {
  background-color: black;
  border-radius: 28px;
  border: 1px solid black;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  display: block;
  margin: auto;
  margin-top: 20px;
  &:hover {
    background-color: white;
    color: black;
  }
  &:active {
    position: relative;
    top: 1px;
  }
}
