.one_Spost {
  display: flex;
  width: 70%;
  margin: auto;
  margin-top: 50px;
  flex-direction: column;
  border: solid 2px black;
  padding: 15px;

  /* &:nth-last-child(n) {
      margin-bottom: 20px;
    }*/
}

.infos_Spost {
  display: flex;
  justify-content: space-between;
}
.titre_Spost {
  margin-left: 20px;
  font-size: 40px;
}

.username_Spost {
  margin-right: 20px;
  font-size: 20px;
}
.message_Spost {
}

.newbtn_Spost {
  background-color: black;
  border-radius: 28px;
  border: 1px solid black;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  display: block;
  margin: auto;
  margin-top: 20px;
  &:hover {
    background-color: white;
    color: black;
  }
  &:active {
    position: relative;
    top: 1px;
  }
}

.fa-edit {
  left: 83%;
  display: block;
  position: absolute;
  padding: 0;
  margin: 8px;
  font-size: 142%;
  cursor: pointer;
}

.modify_title {
  margin-left: 20px;
  font-size: 27px;
}
.faArrowLeft {
  cursor: pointer;
  font-size: 30px;
}

.modify_text {
  margin-left: 30%;
  height: 100px;
  display: flex;
  /* align-content: center; */
  /* justify-content: center; */
  width: 80%;
  margin: auto;
}

.img_Spost {
  max-width: 80%;
  display: block;
  margin: 20px auto;
}
