.grp-nav {
    width: 16%;
}

.grp-menu {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    
}


.grp-login {
    cursor: pointer;
}

.grp-signup {
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}